<router-outlet></router-outlet>
<main>
  <div class="container">
      <div class="headerContainer">
          <div class="tittleContainer"></div>                   
      </div>
      <div class="descriptionContainer">
        <h2>CuenTeach</h2>
        <p>Sistematizamos y promocionamos historias y reflexiones de docentes, para la co-creación de una educación continua y colaborativa.</p>
      </div>
      <div class="cursos">
        
      </div>
        <div class= "descriptionCursos">
        <h2>Curso Podcasting Educativo</h2>
        <p> Curso que te enseña cómo pasar de ofrecer tu clase presencial a ofrecerla a través del sonido.</p>
        <p>Innova a través del aprendizaje auditivo</p>
      </div>
        
    
  </div>
</main>



