<router-outlet></router-outlet>
<main>
  <div class="container">
      <div class="headerContainer">
          <div class="tittleContainer"></div>                   
      </div>
      <div class="descriptionContainer">
        <p>Construimos modulos habitacionales prefabricados en concreto y mejoramos viviendas en alianza con empresas y personas Naturales.</p>
        <p> Promovemos el proceso de superación de la pobreza en materia de habitabilidad</p>
      </div>
      <div class="descriptionContainer">
        <p>Construimos modulos habitacionales prefabricados en concreto y mejoramos viviendas en alianza con empresas y personas Naturales.</p>
        <p> Promovemos el proceso de superación de la pobreza en materia de habitabilidad</p>
      </div>
  </div>
</main>



