*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:Impacted;
    src: url("https://www.wfonts.com/font/impact") format("opentype");
    font-family:Mulish;
    src: url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap") format("opentype");
  }
